@charset "utf-8";

@import "../fonts/roboto.css";

HTML,
BODY {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

BODY {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 661px;
  background-color: #c4c4c4;
  padding: 62px 77px;
}

FORM {
  width: 200px;

  INPUT {
    width: 500px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
  }
}

.content {
  position: relative;

  .menu {
    width: 500px;
    border: 1px solid #666;
    position: absolute;
    background-color: #fff;
    z-index: 100;

    LI {
      width: 500px;
      height: 44px;
      padding-left: 13px;
      background-color: #e3e3e3;
      border: 2px solid #000000;
      list-style-type: none;
      cursor: pointer;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 35px;

      &:hover,
      &:focus {
        background-color: #65cdf9;
      }
    }
  }

  .list {
    width: 500px;
    padding-top: 265px;

    &__item {
      height: 101px;
      background-color: #e27beb;
      position: relative;
      border: 1px solid #000;
      padding: 8px 16px;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;

      BUTTON {
        width: 40px;
        height: 40px;
        background: transparent;
        position: absolute;
        top: 34px;
        right: 34px;
        cursor: pointer;
        border: none;
        outline: none;

        &:hover::before,
        &:hover::after,
        &:focus::before,
        &:focus::after {
          background-color: #ff3737;
        }

        &::before {
          content: "";
          width: 50px;
          height: 4px;
          background-color: #ff0000;
          transform: rotate(45deg);
          position: absolute;
          top: 12px;
          left: -5px;
        }
        &::after {
          content: "";
          width: 50px;
          height: 4px;
          background-color: #ff0000;
          transform: rotate(135deg);
          position: absolute;
          bottom: 24px;
          right: -5px;
        }
      }
    }
  }
}
